.kurslar{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kurs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.kurs_them{
    width: 70%;
    height: 90px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.kurs_them h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 84px;
    letter-spacing: 0.01em;

}
.kurs_them div{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.k-card{
    width: 24%;
    height: 45%;
    border-radius: 5px;
}
.card{
    width: 100%;
}
.kurs_card_img{
    width: 100%;
    height: 65%;
    margin-bottom: 5px;
}
.kurs_card_img img{
    width: 100%;
    height: 100%;
}
.kurs_card_header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kurs_card_header div{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.kurs_card_body{
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    align-items: center;
}
.kurs_card_body div{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

@media only screen and (max-width:475px) {
    .kurs{
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    }
    .kurslar{
        width: 100%;
        height: 60%;
        display: flex;
        overflow-x: scroll;
    }
    .k-card{
        width: 200px;
        height: 130px;
    }
    .kurs_them h1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #121212;
    }
    .kurs_them div{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #333333;
    }
    
}  
@media only screen and (min-width:476px) {
    .kurslar{
        display: flex;
        flex-wrap: wrap;
    }
}  
/* 
<div className="card">                  
                     <img src="https://brunoyam.com/storage/post/37/9b9b7f01c880573efaf20d234b1eea57.png" alt="motion dizayn" />
                  <div className="card-header">
                     <h4  className='card-title'>
                        Motion dizayn
                     </h4>
                  </div>
                  <div className="card-body">
                     <div>Motion dizayn kursimiz  davomida siz
                         dasturlash mantig ªi, uning algoritmi
                      </div>
                  </div>
               </div> */