.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar_logotip{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar_link{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_link{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.btnx{
    background: #F16136;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none  ;
    text-decoration: none;
}
.btn_nav_link{
    width: 116px;
    height: 48px;
}
.hamburger{
    display: none;
}
.no_hamburger{
    display: none;
}
@media only screen and (max-width:475px){
    .navbar{
        width: 100%;
    }
    .navbar_link{  
        display: none;
    }
    .nav_link{
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 10px;
        color: #ffffff;
    }
    .navbar_logotip{
        width: 40%;
    }
    .navbar_logotip img{
        width: 100%;
    }
    .hamburger {
        width: 60%;
        height: 100%;
        display: block;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }    
    .navbar_bar{
        width: 70%;
        height:225px;
        position: absolute;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: 30%;
        left: 13%;
        background-color: rgba(65, 59, 59, 01);
    }
    .btnx{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    .btn_hamburger{
        width: 45px;
        height: 30px;
        border-radius: 2px;
        font-size: 18px;
    }
    .btn_nav_link{
        width: 60%;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}