.afzaliklar{
    width: 100%;
    height: 25%;
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.afzaliklar_title{
    width: 80%;
    height: 25%;
   text-align: center;
}
.afzaliklar_title div:nth-child(1){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
}
.afzaliklar_title div:nth-child(2){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #656464;
}
.afzaliklar_card{
    width: 45%;
    height: 35%;
    margin-left: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.icon_box{
    width:25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #ffffff;
}
.icon_box span{
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
}
.icon_box:hover  span{
    box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}
.card_box{
    width: 75%;
    height: 35%;
    padding: 5px 10px;
}
.card_box div:nth-child(1){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #2F2C4A;
}
.card_box div:nth-child(2){
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #656464;
}
